@font-face {
    font-family: 'Font Awsome';
    src: url('../fonts/Font\ Awesome\ 5\ Free-Solid-900.otf');
}

body {
    font-family: 'Georama', sans-serif;
}

nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
}

h2 {
    line-height: 2;
    font-size: 2rem;
    letter-spacing: 5px
}

h5 {
    font-size: 2rem;
    padding-bottom: 10px;
    letter-spacing: 3px;
}

nav li {
    display: inline-block;
    margin: 10px;
    list-style-type: none;
    text-decoration: none;
}

nav a {
    text-transform: uppercase;
}

nav li:hover,
.logo:hover {
    background: #dbd5c3;
}

.logo,
.logo a {
    line-height: 2;
    letter-spacing: 6px;
    position: relative;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
}


.menu a {
    text-decoration: none;
    font-size: 2rem;
    color: #000000;
}

.container {
    /* padding-top: 30px */
    width: 50%;
    margin: auto;
}

.container.front {
    width: 100%;
    position: relative;
}

.container.front img {
    display: block;
    width: 100%;
}

.pt-30 {
    padding-top: 30px;
}

.title {
    position: absolute;
    bottom: 8px;
    left: 15px;
}

.title h1 {
    font-size: 4rem;
    padding: 20px;
}

.w-50 {
    width: 50%;
}

.row {
    display: flex;
    text-align: center;
    justify-content: center;
}

.about-text h3 {
    padding: 20px;
    line-height: 0.8rem;
    font-size: 1rem;
    letter-spacing: 8px;
}

.about-text p {
    padding: 20px;
    line-height: 2;
    text-align: left;
}

p.text-gray {
    color: gray;
    padding: 20px;
}

hr {
    border: 1px solid #dbd5c3;
    margin: 40px 0;
}

.w-100 {
    width: 100%;
}



.menu-item {
    text-align: left;
}

.padding {
    padding: 10px;
    line-height: 2;
}


.menu-item h4 {
    line-height: 3;
    font-size: 1.2rem;
}

.menu-item p {
    font-size: 0.8rem;
    color: gray;
}

.color-teal {
    color: #1db599;
}


.container p {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 20px;
}

.menu-text p {
    margin: 0;
}


input {
    width: 100%;
    padding: 20px;
}

input[type=submit] {
    margin: 20px 20px 0 0;
    width: 35%;
}


.container a {
    text-decoration: none;
}

footer {
    margin-top: 20px;
    background: #d8ede9;
    padding: 40px;
    text-align: center;
}

@media (max-width:700px) {

    .s-t-a-c {
        text-align: center !important;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .logo {
        font-weight: 600;
        background: #d8ede9;
    }

    ul li {
        font-weight: 300;
        border: 4px solid #d8ede9;
    }

    .w-50 {
        width: auto;
    }

    .l-h-normal {
        line-height: 1 !important;
    }

    .padding {
        padding: 0;
    }

    .padding:last-child {
        padding-bottom: 10px;
    }

    input {
        text-align: center;
        align-self: center;
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
}